// Colors

$white: #fff;
$black: #333;
$blue-chill: #0E7194;
$green: #4baa4e;
$purple: #664a63;
$yellow: #f2bb4c;
$red-damask: #d95c48;
$red-damask-dark: #c95542;
$red-damask-hover: #9c4233;
$twitter-blue: #64b6ee;
$twitter-blue-dark: #5396c4;
$twitter-blue-hover: #4985ae;
$facebook-blue: #526fa6;
$facebook-blue-dark: #3d547e;
$facebook-blue-hover: #304162;
$dark-blue: #2A2C39;
$light-dark-blue: #747891;
$light-grey: #f8f9fb;
$grey-button: darken(#c0c0c0, 10%);

$transparent-black: rgba(0, 0, 0, 0.8);
$transparent-white: rgba(255, 255, 255, 0.8);

// Typography

$header-font: "HalisR-Bold", Helvetica, sans-serif;
$body-font: "HalisR-ExtraLight", Helvetica, sans-serif;