.block {
	@include make-row();
	position: relative;
	p strong {
		font-weight: bold;
	}
}

.block__title {
	font-size: 1.999em;
	font-weight: bold;
	color: #333;
	margin-bottom: 0.75em;
}

.block__subtitle {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.45em;
	color: #888;
	margin: 0 auto 1.3em auto;
}

.block__col-wrapper {
	margin:0 auto;
	position: relative;
	max-width: 991px;
	padding: 40px 20px 20px 20px;
	overflow: hidden;
	@include bp-sm {
		padding: 60px 40px 40px 40px;
	}
}

.block__col {
	&.is-centered-v {
		@include vertical-align(relative);
	}
	@include make-sm-column(12);
}

.block__cta {
	color: $white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	font-weight: bold;
}

.block__download {
	width: 150px;
	opacity: 0.6;
}

// VARIANTS

.block__col--third {
	@include make-md-column(4);
}

.block__col--half {
	@include make-md-column(6);
}